/****variables****/
/***colores***/
.nav-color {
  background-color: #ff7f50 !important; }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(to left, red, yellow);
  margin: 0px;
  font-family: sans-serif;
  position: relative; }

.fondo-4 {
  background-image: linear-gradient(to left, #5a5abb, #8ab98a); }

.parrafo {
  padding: 30px; }

/*card suplementos*/
.cards {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around; }

.cards-1 {
  border: 1px solid black;
  width: 210px;
  height: 353px;
  display: flex;
  min-height: 200px;
  padding: 20px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px; }

.cards-2 {
  border: 1px solid black;
  width: 210px;
  height: 353px;
  display: flex;
  min-height: 200px;
  padding: 20px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px; }

.cards-3 {
  border: 1px solid black;
  width: 210px;
  height: 353px;
  display: flex;
  min-height: 200px;
  padding: 20px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px; }

.cards-4 {
  border: 1px solid black;
  width: 210px;
  height: 353px;
  display: flex;
  min-height: 200px;
  padding: 20px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px; }

.cards-5 {
  border: 1px solid black;
  width: 210px;
  height: 353px;
  display: flex;
  min-height: 200px;
  padding: 20px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px; }

.cards-6 {
  border: 1px solid black;
  width: 210px;
  height: 353px;
  display: flex;
  min-height: 200px;
  padding: 20px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px; }

.cards-tex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.boton {
  display: block;
  width: 80px;
  margin: 0 auto;
  justify-content: center; }

.div-botone {
  display: flex;
  width: 10px;
  height: 20px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: black; }

/* termina card productos*/
/*seccion cards galeria cards*/
.galeria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.container-1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 0;
  justify-content: center; }

.card {
  display: flex;
  justify-content: center;
  width: 300PX;
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 5PX;
  height: 500PX;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%); }

.card img {
  width: 100%;
  height: 210px; }

.contenido {
  padding: 15px;
  text-align: center; }

.contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease; }

.contenido a:hover {
  background: #2fb4cc;
  color: #fff; }

/*carrusel historia*/
.carrusel {
  display: flex;
  justify-content: center;
  align-items: center; }

.img-foto-w-75 {
  width: 400px;
  height: 400px; }

/****variables****/
/***colores***/
/****footer****/
.pie {
  background-color: #ff7f50;
  /*seccion de footer de todas las paginas*/ }
  .pie p {
    display: flex;
    color: black;
    justify-items: center;
    align-items: center; }
  .pie .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    /*seccion instagran facebook  whatsAPP*/ }
    .pie .logo .fac {
      padding: 10px;
      height: 40px; }
    .pie .logo .ins {
      padding: 10px;
      height: 40px; }
    .pie .logo .wha {
      padding: 10px;
      height: 40px; }

/****variables****/
/***colores***/
.principal {
  height: 20px; }

.navbar {
  display: flex;
  background-color: #ff7f50;
  justify-content: space-between;
  height: 80px;
  align-items: center; }

.index-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.principal {
  height: 80px; }

.contacto {
  height: 80px; }

.productos {
  height: 80px; }

.historia {
  height: 80; }

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; }

.menu li:hover {
  background: #9e5e46; }

.menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none; }

li a {
  text-decoration: none;
  color: #ff0000; }

.a {
  font-weight: 600px;
  position: relative; }

h1 {
  color: #ff0000;
  justify-content: center;
  display: flex;
  font-size: 50px; }

h2 {
  color: #ff0000; }

h3 {
  color: #ff0000; }

.principal {
  color: #ff0000;
  display: flex;
  justify-content: center; }

.contenedor-1 {
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding-bottom: 10px; }
  .contenedor-1 .table {
    border: 1px solid  black; }
  .contenedor-1 .suplementos {
    color: black; }
  .contenedor-1 ul {
    display: flex; }
  .contenedor-1 ul li {
    color: black;
    display: flex;
    justify-content: center; }
  .contenedor-1 .formulario {
    color: black; }

.env:hover {
  background-color: black; }

.perro:hover {
  transform: scale(1.2); }

.card-img {
  width: 100%;
  height: 410px;
  /** seccion contacto**/ }
  .card-img .img-perro {
    left: 50px; }
  .card-img .contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .card-img .datos {
    justify-content: center;
    justify-content: space-between; }

/*media queries*/
@media (min-width: 1px) and (max-width: 991.98px) {
  /*index*/
  .header {
    display: flex; }
  .index-main {
    padding-top: 80px; }
  /*productos*/
  .cards {
    display: flex;
    flex-direction: column;
    height: auto; }
  .galeria {
    display: flex;
    flex-direction: column; }
  .container-1 {
    flex-direction: column; }
  .video {
    width: 100%; }
  .card {
    margin: 5px 0; } }
