*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to left,red,yellow);
    margin: 0px;
    font-family: sans-serif;
    position: relative;
}
.fondo-4{
    background-image: linear-gradient(to left,rgb(90, 90, 187),rgb(138, 185, 138)  );
}
/*seccion inicio*/

.principal{
    height: 20px;
}

header{
    display: flex;
    background-color:   coral;
    justify-content: space-between;
    height: 80px; 
    align-items: center;

}

.nav-color{
    background-color: coral !important;
}


.index-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal{
    height: 80px;
}

.contacto{
    height: 80px;
}
.productos{
    height: 80px;
}

.historia{
    height: 80;
}

.menu ul{
    margin:0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li:hover{
    background: rgb(158, 94, 70)

}

.menu li a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: rgb(197, 35, 35)
}

.a{
    font-weight: 600px;
    position: relative;
}

h1{
    color: red; 
    justify-content: center;
    display: flex;
    font-size: 50px;
}

.contenedor-1{
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}
.h2-principal{
    color: red;
    display: flex;
    justify-content: center;
}

h2{
    color: red;
    
}

h3{
    color: red;
}

.tabla{
    color: black;
    display: flex;
    justify-content: center;
}

.table-border{
    display: flex;
    justify-content: center;
}


ul li{
    color: black;
    display: flex;
    justify-content: center;
}

.formulario{
    color: black
}


.env :hover{
background-color: black;
}

card-parrafo{
    font-size: 18px;
    margin-bottom: 20px;
}




.pie{
    background-color: coral;
    
    
}

p{
    display: flex;
    color: black;
    justify-items: center;
    align-items: center;
}

/*seccion de footer de todas las paginas*/
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
/*seccion instagran facebook  whatsAPP*/
.fac{
    padding: 10px;
    height: 40px;
}

.ins{
    padding: 10px;
    height: 40px;
}

.wha{
    padding: 10px;
    height: 40px;
}

/*seccion de cards produtos*/

.parrafo{
    padding: 30px;
}




/*card suplementos*/
.cards{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    
} 




.cards-1{
    border: 1px solid black;
    width: 210px;
    height: 353px;
    display: flex;
    min-height: 200px;
    padding: 20px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.cards-2{
    border: 1px solid black;
    width: 210px;
    height: 353px;
    display: flex;
    min-height: 200px;
    padding: 20px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.cards-3{
    border: 1px solid black;
    width: 210px;
    height: 353px;
    display: flex;
    min-height: 200px;
    padding: 20px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.cards-4{
    border: 1px solid black;
    width: 210px;
    height: 353px;
    display: flex;
    min-height: 200px;
    padding: 20px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.cards-5{
    border: 1px solid black;
    width: 210px;
    height: 353px;
    display: flex;
    min-height: 200px;
    padding: 20px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cards-6{
    border: 1px solid black;
    width: 210px;
    height: 353px;
    display: flex;
    min-height: 200px;
    padding: 20px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}


.cards-tex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.boton{
    display: block;
    width: 80px;
    margin: 0 auto;
    justify-content: center;
}

.div-botone{
    display: flex;
    width: 10px;
    height: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}
/* termina card productos*/


/*seccion cards galeria cards*/
.galeria{
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;*/
    gap: 50px;

}



.container-1{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 0;
    justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    width: 300PX;
    padding: 20px;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 5PX;
    height: 500PX;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    
}

.card:hover{
box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 210px;
}

.contenido{
    padding: 15px;
    text-align: center;

}

.contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.contenido a:hover{
    background: #2fb4cc;
    color: #fff;
}
/* termina card galeria*/


.card-img{
width: 100%;
height: 410px;

}


.img-perro{
    left: 50px;
}


.perro:hover{
    transform: scale(1.2);
}
/** seccion contacto**/

.contenedor-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.datos{
    justify-content: center;
    justify-content: space-between;
}

/*media queries*/



@media (min-width: 1px) and (max-width: 991.98px){
    /*index*/
    .header
    {
        display: flex;
    }
    .index-main{
        padding-top: 80px;

    }
    /*productos*/
    .cards{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .galeria{
        display: flex;
        flex-direction: column;
    }

    .container-1{
        flex-direction: column;
    }

    .video{
        width: 100%;
    }

    .card{
        margin: 5px 0;
    }

}









