/*media queries*/

@media (min-width: 1px) and (max-width: 991.98px){
    /*index*/
    .header
    {
        display: flex;
    }
    .index-main{
        padding-top: 80px;

    }
    /*productos*/
    .cards{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .galeria{
        display: flex;
        flex-direction: column;
    }

    .container-1{
        flex-direction: column;
    }

    .video{
        width: 100%;
    }

    .card{
        margin: 5px 0;
        @media (min-width: 40em) {
            .carousel-caption p {
                margin-bottom: 1.25rem;
                font-size: 1.25rem;
                line-height: 1.4;
            }
        
            .featurette-heading {
                font-weight: bold;
            }
        }
}

}

