*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to left,red,yellow);
    margin: 0px;
    font-family: sans-serif;
    position: relative;
}
.fondo-4{
    background-image: linear-gradient(to left,rgb(90, 90, 187),rgb(138, 185, 138)  );
}